div.badge-icon {
    height: 150px;
    width: 150px;
    background-color: #c0ffe8;
    border-radius: 50%;
    text-align: center;
    font-size: 120px;
    color: rgb(251 198 0);
    border: solid rgb(4 228 171) 20px;
}