@media screen and (min-width: 720px) {
  .activity-card {
    width: 285px;
    height: 320px;
    margin: 60px;
  }

  .activity-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .activity-card p.card-type {
    transform: translateY(-320px);
  }
}
