div#activity-content {
  margin: 36px;
  width: calc(100vw - 72px);
  display: flex;
  flex-wrap: wrap;
  grid-gap: 48px;
}

.activity-card {
  width: 380px;
  height: 420px; 
}

.activity-card a {
  width: 100%;
  height: 100%;
}

.activity-card .card-container {
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%; */
  height: 100%;
  width: 100%;
  /* align-items: flex-end; */

  overflow: hidden;
  box-shadow: 4px 4px 10px gray;
}

.activity-card img {
  /* grid-area: 1/1/2/2; */
  width: 380px;
  height: 420px;
  object-fit: cover;
}

.activity-card p.red {
  background-color: rgba(0,0,0,0.3);
  opacity: 100;
  transition: all .5s;
}

.card-text {
    /* position: relative;
    top: -59px; */
    height: 100%;
    transform: translateY(-118px); 
    transition: all .5s;
    background-color: rgba(0,0,0,0.3);
    color: white;
}

.card-text h3.card-title {
  /* grid-area: 1/1/2/2; */
  padding: 12px 2px;
  margin: 0;
  font-size: 22px;
}

.card-text p {
    font-weight: 300;
}

.activity-card:hover .card-text {
    transform: translateY(-478px); 
    background-color: rgba(0,0,0,0.7);
}

.activity-card:hover p.red {
    opacity: 0;
}

/* .activity-card:hover .card-text {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;    
    color: white;
    grid-area: 1/1/2/2;
} */


