div#user-details {
  display: flex;
  flex-direction: column;
}

div.account-page-section {
  margin: 0 24px;
}

div.account-page-section h1 {
  margin: 24px 0 8px 0;
}

div#user-details h6 {
  margin: 4px 0 8px 0;
}

/* div#user-details button {
  align-self: center;
  margin: 24px 0;
  font-size: 12px;
} */
