div#user-details {
  display: flex;
  flex-direction: column;
}

h1#page-title {
  margin: 24px;
}

.account-page-section {
  margin: 0 24px;
}

div.profile-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.account-page-section h1 {
  margin: 24px 0 8px 0;
}

#user-pledges {
  background-color: #7b7b7b;
  margin: 0;
  padding: 24px;
  color: white;
}

@media screen and (min-width: 720px) {
  div.profile-form-container button {
    align-self: flex-start;
  }

  #user-pledges {
    background-color: white;
    color: #343434;
  }
}
