/* p.card-type {
    margin: 12px;
    padding: 6px 12px;
    width: max-content;
    transform: translateY(-420px);
    color: white;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
} */