div#category-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div#category-menu button {
  margin: 4px 8px;
}

div#category-menu button:hover {
  background-color: unset;
  color: unset;
  transform: scale(1.1);
}

div#category-menu button.selected {
  background-color: rgb(4, 180, 4);
  color: white;
}
