#update-project-container {
  padding: 0 12px;
}

@media screen and (min-width: 720px) {
  #update-project-container {
    display: flex;
    justify-content: space-around;
    min-height: calc(100vh - 200px);
  }
}
