img#pledge-page-header-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media screen and (min-width: 720px) {
  div#pledge-page-container {
    display: flex;
    justify-content: center;
  }

  div#pledge-project-info-container,
  div#pledge-form {
    width: 48vw;
  }
}
