.progress-update-card {
    min-width: 360px;
    max-width: 480px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
}

.progress-update-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}