.project-detail-card {
  width: 100%;
}

.project-detail-card img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

@media screen and (min-width: 720px) {
  .project-detail-card img {
    width: 90%;
  }
}
