div.user-profile form {
  width: 100%;
  background-color: #343434;
  color: white;
  margin: 24px 0 64px 0;
  padding: 0 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div#edit-profile-form {
  margin: 0;
}

div.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px 0;
  width: 100%;
}

div.profile-form-container {
  display: block;
}

div.user-profile .error-message p {
  margin-bottom: 0;
}

div.user-profile form div {
  width: 90%;
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
}

div.user-profile form div#location-select-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 270px;
  margin: 0;
}

div.user-profile form div#location-select-div p {
  margin: 4px 12px 0 0;
  font-weight: 300;
}

div.user-profile form div#location-select-div select {
  width: 120px;
  height: 30px;
}

div.user-profile form div input,
div.user-profile form div textarea {
  width: 270px;
}

div.user-profile form div textarea {
  height: 120px;
}

div.user-profile form label {
  width: 130px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

div.user-profile form button#close-button {
  margin: 24px 0 24px 0;
  align-self: flex-end;
  border: none;
  font-size: 20px;
}

div.user-profile form button {
  align-self: center;
  color: white;
}

@media screen and (min-width: 520px) {
  div.user-profile {
    width: 80vw;
    max-width: 800px;
    margin: 24px 0 64px 0;
    padding: 0 24px;
  }

  div.user-profile form div input,
  div.user-profile form div textarea,
  div.user-profile form div#location-select-div {
    /* width: 270px; */
    width: calc(80vw * 0.9 - 130px);
    max-width: calc(800px * 0.9 -130px);
  }

  div.user-profile form div textarea {
    height: 180px;
  }

  div.user-profile form label {
    width: 130px;
  }
}
