nav#desktop-nav {
  display: none;
}

@media screen and (min-width: 720px) {
  nav#desktop-nav {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 48px);
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  div#nav-container {
    width: 100%;
  }

  div#desktop-nav-account-div {
    display: flex;
  }

  div.nav-menu {
    width: 100%;
  }

  div.nav-logo,
  div.nav-menu-items {
    margin: 4px 24px;
    flex-direction: row;
    width: 30vw;
  }

  div.nav-menu-items.logged-out {
    width: 20vw;
  }

  div.nav-menu-items {
    width: 60vw;
  }

  div.nav-logo i {
    color: #232323;
  }

  div.nav-menu,
  div.nav-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  div.nav-item a {
    color: #232323;
    font-size: 18px;
  }

  div.nav-item a:hover {
    color: rgb(4, 180, 4);
  }

  div#nav-account-menu {
    display: none;
    margin: 8px -8px;
    padding: 8px;
    background: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.7)
    );
  }

  div#nav-account-menu a {
    margin: 8px 0;
  }

  #desktop-nav-account-div:hover div#nav-account-menu {
    display: flex;
  }
}
