@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Ubuntu:wght@300;500&family=Grandstander:wght@700&display=swap");

h1,
h2,
h3 {
  font-family: "Shadows Into Light", cursive;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

i {
  margin-right: 8px;
}

button {
  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
  padding: 4px 8px;
  font-family: "Ubuntu", sans-serif;
  align-self: center;
  margin: 24px 24px 24px 0;
  font-size: 12px;
}

#main-container {
  min-height: calc(100vh - 130px);
}

.content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  align-self: center;
}

img.main-image {
  object-fit: cover;
  width: 100vw;
  height: auto;
  max-height: 350px;
}

.coloured-text {
  color: rgb(6, 180, 6);
}

.page-title,
.page-subheading {
  margin-left: 24px;
  margin-right: 24px;
  color: #232323;
}

.page-heading {
  margin: 40px 0 0 24px;
  font-size: 36px;
  color: #232323;
}

#project-closed-warning,
.error-message {
  color: red;
}

.centred-text {
  width: 100%;
  margin: 0 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container-404 {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1#title-404 {
  font-size: 150px;
}

@media screen and (min-width: 720px) {
  p {
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  #main-container {
    margin: 36px 48px;
    width: calc(100vw - 96px);
  }

  button:hover {
    background-color: rgb(4, 180, 4);
    color: white;
  }

  .page-title,
  .page-subheading {
    margin-left: unset;
    margin-right: unset;
  }

  .page-heading {
    margin: 120px 0 0 0;
    font-size: 72px;
  }

  .landing-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .landing-page-main-container h1 {
    width: 100%;
  }

  .landing-content > div {
    width: 45vw;
  }
}
