div#nav-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

div.nav-logo,
div.nav-menu {
  margin: 24px 24px;
  flex-direction: row;
}

div.nav-menu {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div.nav-menu#desktop-nav {
  display: none;
}

.nav-item {
  padding: 12px;
  margin: 12px;
}

div#nav-line-break {
  height: 1px;
  width: 66vw;
  padding: 0;
  margin: 36px;
  background-color: rgb(14, 187, 14);
}

div#desktop-nav-account-div {
  display: none;
}

div#nav-account-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  background-color: white;
}

@media screen and (min-width: 720px) {
  div#nav-container {
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
  }

  div.nav-menu#mobile-nav {
    display: none;
  }

  div.nav-logo,
  div.nav-menu {
    margin: 4px 24px;
    flex-direction: row;
  }

  div.nav-menu {
    display: flex;
    flex-direction: column;
    width: calc(66vw - 96px);
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 820px) {
}

@media screen and (min-width: 920px) {
}
