div#project-page-container {
  margin: 0 24px;
  display: block;
}

div#project-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#project-header h1 {
  font-size: 48px;
  /* order: 2; */
  margin-bottom: 0;
}

div#creator-details a {
  margin: 0;
  display: flex;
  align-content: center;
  color: #232323;
}

img.sml-user-image {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

div#creator-details div {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#creator-details div p,
div#creator-details div h3 {
  margin: 0;
}

div#creator-details div p {
  font-size: 10px;
}

div#creator-details div h3 {
  font-size: 14px;
}

img#mobile-project-header-image {
  margin: 0 -24px;
  width: 100vw;
  max-height: 300px;
  object-fit: cover;
}

/* select first image from project detail cards and hide the image */
div.project-detail-card:nth-child(1) > img:nth-child(1) {
  display: none;
}

#project-targets-div {
  font-family: "Grandstander", sans-serif;
}

#project-buttons {
  width: 100%;
}

button#close-project-btn:hover {
  background-color: black;
}

div.sidebar-item {
  text-align: left;
}

div.sidebar-item div#time-location-info {
  display: flex;
  justify-content: space-between;
}

div.sidebar-item div#time-location-info h6 {
  margin: 24px 8px;
}

div.sidebar-item div.progress-bar-container {
  display: none;
}

div.sidebar-item div.progress-bar {
  margin: 24px 0;
  width: 90%;
}

a#sticky-pledge-button {
  display: none;
  position: fixed;
  right: 24px;
  bottom: 24px;
}

a.pledge-button button {
  display: flex;
  justify-content: center;
  margin: 0;
}

a.pledge-button p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

a#sticky-pledge-button button {
  border-radius: 50%;
  padding: 12px;
  background-color: rgb(6, 180, 6);
  color: white;
  width: auto;
}

a#sticky-pledge-button p {
  display: none;
}

a#sticky-pledge-button i {
  margin: 0;
}

div#project-page-content {
  /* width: 100vw; */
  width: 100%;
}

div #pledges {
  /* margin: 120px -24px 24px -24px;
  background-color: #7b7b7b; */
  margin: 120px -24px 0 -24px;
  background-color: #535353;
  color: white;
  padding: 24px;
}

/* a#sticky-pledge-button button {
  background-color: #70ba05;
  padding: 4px 8px;
  font-size: 12px;
  color: white;
  border-color: green;
} */

@media screen and (min-width: 520px) {
  img.sml-user-image {
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 720px) {
  div#project-page-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  div#project-header {
    height: 120px;
    width: calc(100vw - 96px);
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 48px; */
    margin-bottom: 24px;
  }

  #project-header h1 {
    font-size: 64px;
    margin: 40px 0;
    /* order: 0; */
  }

  div#creator-details {
    margin: 36px 0;
    /* display: flex;
    align-content: center; */
  }

  img.sml-user-image {
    height: 75px;
    width: 75px;
    object-fit: cover;
  }

  div#creator-details div {
    margin: 0 12px;
  }

  div#creator-details div p,
  div#creator-details div h3 {
    margin: 0;
  }

  div#creator-details div p {
    font-size: 14px;
  }

  div#creator-details div h3 {
    font-size: 20px;
  }

  img#mobile-project-header-image {
    display: none;
    object-fit: cover;
  }

  div#project-buttons {
    min-height: 24px;
  }

  div.project-detail-card:nth-child(1) > img:nth-child(1) {
    display: block;
  }

  div.project-detail-card img {
    max-width: 700px;
  }

  div.project-detail-card p {
    font-size: 18px;
    margin-bottom: 64px;
    max-width: 800px;
  }

  div#sidebar {
    width: 300px;
    order: 2;
  }

  div.sidebar-item {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  div.sidebar-item div#time-location-info {
    display: block;
  }

  div.sidebar-item div.progress-bar-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  div.sidebar-item div.progress-bar {
    margin: 24px 0;
    width: 170px;
  }

  a#sticky-pledge-button {
    position: fixed;
    right: 48px;
    bottom: 48px;
  }

  a#sticky-pledge-button button {
    margin: 24px 24px 24px 0;
  }

  a#sticky-pledge-button.small-btn button {
    border-radius: 10px;
    padding: 4px 8px;
    background-color: transparent;
    color: black;
  }

  a#sticky-pledge-button.small-btn p {
    width: auto;
    height: auto;
    opacity: 1;
  }

  a#sticky-pledge-button.small-btn i {
    margin-right: 4px;
  }

  a#sticky-pledge-button:hover button {
    background-color: rgb(4, 180, 4);
    color: white;
  }

  /* a#sticky-pledge-button button {
  background-color: #70ba05;
  padding: 4px 8px;
  font-size: 12px;
  color: white;
  border-color: green;
} */

  div#project-page-content {
    width: calc(100vw - 400px);
  }

  div#pledges {
    margin: 80px 0 24px 0;
    padding: 0 24px;
    font-size: 48px;
    background-color: white;
    color: #232323;
  }
}
