div#project-page-container {
  margin: 0 24px;
  display: block;
}

div#project-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#project-header h1 {
  font-size: 36px;
  /* order: 2; */
  margin-bottom: 0;
}

img#mobile-project-header-image {
  margin: 0 -24px;
  width: 100vw;
  max-height: 300px;
  object-fit: cover;
}

/* select first image from project detail cards and hide the image */
div.project-detail-card:nth-child(1) > img:nth-child(1) {
  display: none;
}

#project-buttons {
  width: 100%;
}

button#close-project-btn:hover {
  background-color: black;
}

a#sticky-pledge-button {
  display: none;
  position: fixed;
  right: 24px;
  bottom: 56px;
  z-index: 100;
}

a#sticky-pledge-button:hover button {
  transform: scale(1.2);
}

a#sticky-pledge-button button {
  border-radius: 50%;
  padding: 12px;
  background-color: rgb(6, 180, 6);
  color: white;
  width: auto;
}

a#sticky-pledge-button p {
  display: none;
}

a#sticky-pledge-button i {
  margin: 0;
}

div#project-page-content {
  width: 100%;
}

div #pledges {
  margin: 120px -24px 0 -24px;
  background-color: #535353;
  color: white;
  padding: 24px;
}

a.pledge-link {
  font-size: 16px;
  color: rgb(6, 180, 6);
}

@media screen and (min-width: 720px) {
  div#project-page-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  div#project-header {
    height: 120px;
    width: calc(100vw - 96px);
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 48px; */
    margin-bottom: 24px;
  }

  #project-header h1 {
    font-size: 64px;
    margin: 40px 0;
    /* order: 0; */
  }

  img#mobile-project-header-image {
    display: none;
    object-fit: cover;
  }

  div#project-buttons {
    min-height: 24px;
  }

  div.project-detail-card:nth-child(1) > img:nth-child(1) {
    display: block;
  }

  div.project-detail-card img {
    max-width: 700px;
  }

  div.project-detail-card p {
    font-size: 18px;
    margin-bottom: 64px;
    max-width: 800px;
  }

  a#sticky-pledge-button {
    position: fixed;
    right: 48px;
    bottom: 48px;
  }

  a#sticky-pledge-button button {
    margin: 24px 24px 24px 0;
  }

  a#sticky-pledge-button.small-btn button {
    border-radius: 10px;
    padding: 4px 8px;
    background-color: transparent;
    color: black;
  }

  a#sticky-pledge-button.small-btn p {
    width: auto;
    height: auto;
    opacity: 1;
  }

  a#sticky-pledge-button.small-btn i {
    margin-right: 4px;
  }

  a#sticky-pledge-button:hover button {
    background-color: rgb(4, 180, 4);
    color: white;
  }

  div#project-page-content {
    width: calc(100vw - 400px);
  }

  div#pledges {
    margin: 80px 0 24px 0;
    padding: 0 24px;
    font-size: 48px;
    background-color: white;
    color: #232323;
  }
}
